<header>
  <div class="container">
    <h1>Cloudspotting</h1>
  </div>
</header>

<span id="status"></span>
<div class="container">
  <div id="sketch-container">
    <div id="canvas-container">
      <canvas id="background-canvas"></canvas>
    </div>
    <canvas id="export-canvas"></canvas>

    <div class="btn-toolbar" id="palette">
      <div class="btn-group">
        <button class="btn" href="#"><i class="icon-tint color"></i></button>
        <button class="btn" href="#"><i class="icon-tint color"></i></button>
        <button class="btn" href="#"><i class="icon-tint color"></i></button>
        <button class="btn" href="#"><i class="icon-tint color"></i></button>
        <button class="btn" href="#"><i class="icon-tint color"></i></button>
        <button class="btn" href="#"><i class="icon-tint color"></i></button>
        <button class="btn" href="#"><i class="icon-tint color"></i></button>
        <button class="btn" href="#"><i class="icon-tint color"></i></button>
        <button class="btn" href="#"><i class="icon-tint color"></i></button>
      </div>
    </div>
    <input type="file" id="cloud-input" accept="image/gif, image/jpeg, image/png">
  </div>
</div>

