<header>
  <div class="container">
    <h1>Cloudspotting</h1>
  </div>
</header>

<span id="status"></span>
<div class="container">
  <div id="sketch-container">
    <div id="canvas-container">
      <canvas id="background-canvas"></canvas>
    </div>
    <canvas id="export-canvas"></canvas>
  </div>
</div>

